.ceil{
    margin-bottom: .3rem;
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    font-size: .8rem;
    padding: 1rem .6rem;
}
.userLogo{
    margin-right: 1rem;
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%; 
}
.tab{
    display: inline-block;
    width: 3rem;
    padding: 0 .3rem;
    color:#169fe6;

}
.title{
    width:23rem;
}
